body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  text-align: 'top';
	font-family:'Lato';
	width: 600px;
	position: absolute;
  left: 50%;
	top: 50%;
	transform: translate(-50%,-55%);
  color: #ffffff;
  font-weight: bold;
  font-size: 2.2rem;
  
}
/* input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 12px;
  height: 12px;
  margin: -1px 0px 0 0;
  vertical-align: middle;
  background: white left top no-repeat;
  border: 1px solid #ccc;
  cursor: pointer;
} */

input[type="checkbox"]:checked + label {
  background: #2d65ea69 -19px top no-repeat;
}

/* input[type="checkbox"] + span {
  margin-right: 4px;
} */

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom checkbox appearance */
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 6px; 
  /* background-color only for content  */
  background-clip: content-box;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  margin-left: 15px;
  margin-right: 15px;
} 

label{ 
  margin-top: 50px;
	width: 350px;
	height: 50px;
	border-radius: 10px;
	border: none;
  outline: none;
  color: #e4dcdc;
	background-color: #07163b69;
  color:#ffffff;
	box-shadow: 5px 10px 30px #2d65ea69;
	transition: all ease 0.2s;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 1.5rem;
  text-align: middle; 
  
  
}















 
 


